In [4]:
import numpy as np 
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

In [20]:
import pandasql as ps

In [3]:
#!pip install mlxtend

In [5]:
data = pd.read_excel('Online Retail.xlsx')

In [6]:
data.shape

(541909, 8)

In [7]:
data.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [114]:
data.head(40)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583.0,France
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583.0,France
33,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,2010-12-01 08:45:00,2.95,12583.0,France
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583.0,France
35,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
36,536370,22659,LUNCH BOX I LOVE LONDON,24,2010-12-01 08:45:00,1.95,12583.0,France
37,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France
39,536370,21731,RED TOADSTOOL LED NIGHT LIGHT,24,2010-12-01 08:45:00,1.65,12583.0,France

In [8]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [9]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [10]:
len(data.Country.unique())

38

In [11]:
data.Description.unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'lost',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], dtype=object)

In [12]:
len(data.Description.unique())

4224

In [13]:
data['Description'] = data['Description'].str.strip()

In [14]:
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True) 
data['InvoiceNo'] = data['InvoiceNo'].astype('str')

In [15]:
data = data[~data['InvoiceNo'].str.contains('C')]

In [16]:
data.shape

(532621, 8)

In [17]:
(data[data['Country'] =="France"] 
          .groupby(['InvoiceNo', 'Description']) 
          .sum())

                                           Quantity  UnitPrice  CustomerID
InvoiceNo Description
536370    ALARM CLOCK BAKELIKE GREEN             12       3.75     12583.0
          ALARM CLOCK BAKELIKE PINK              24       3.75     12583.0
          ALARM CLOCK BAKELIKE RED               24       3.75     12583.0
          CHARLOTTE BAG DOLLY GIRL DESIGN        20       0.85     12583.0
          CIRCUS PARADE LUNCH BOX                24       1.95     12583.0
...                                             ...        ...         ...
581587    CIRCUS PARADE LUNCH BOX                12       1.95     12680.0
          PACK OF 20 SPACEBOY NAPKINS            12       0.85     12680.0
          PLASTERS IN TIN CIRCUS PARADE          12       1.65     12680.0
          PLASTERS IN TIN STRONGMAN              12       1.65     12680.0
          SPACEBOY LUNCH BOX                     12       1.95     12680.0

[8372 rows x 3 columns]

In [18]:

(data[data['Country'] =="France"] 
          .groupby(['InvoiceNo', 'Description'])['Quantity'] 
          .sum().unstack()) #description jadi header

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
basket_France = (data[data['Country'] =="France"] 
          .groupby(['InvoiceNo', 'Description'])['Quantity'] 
          .sum().unstack().reset_index().fillna(0) 
          .set_index('InvoiceNo'))

In [28]:
ps.sqldf(""" select * from basket_France where `10 COLOUR SPACEBOY PEN` <> 0 limit 3 """)

,InvoiceNo,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
0,537468,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,540365,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,540835,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
ps.sqldf(""" select * from basket_France 
             where InvoiceNo = 540365
             
limit 3 """)

,InvoiceNo,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
0,540365,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1

In [30]:
basket_encoded = basket_France.applymap(hot_encode) 
basket_France = basket_encoded

In [32]:
basket_France

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581279,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
# Building the model 
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True) 
  
# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
(rules.head())

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
44,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE),0.076531,0.765306,0.076531,1.000,1.306667,0.017961,inf
259,"(PLASTERS IN TIN CIRCUS PARADE, RED TOADSTOOL ...",(POSTAGE),0.051020,0.765306,0.051020,1.000,1.306667,0.011974,inf
271,"(PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...",(POSTAGE),0.053571,0.765306,0.053571,1.000,1.306667,0.012573,inf
300,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975,7.644000,0.086474,34.897959
301,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975,7.077778,0.085433,34.489796

In [37]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
44,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE),0.076531,0.765306,0.076531,1.000000,1.306667,0.017961,inf
259,"(PLASTERS IN TIN CIRCUS PARADE, RED TOADSTOOL ...",(POSTAGE),0.051020,0.765306,0.051020,1.000000,1.306667,0.011974,inf
271,"(PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...",(POSTAGE),0.053571,0.765306,0.053571,1.000000,1.306667,0.012573,inf
300,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975000,7.644000,0.086474,34.897959
301,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975000,7.077778,0.085433,34.489796
...,...,...,...,...,...,...,...,...,...
37,(POSTAGE),(JAM MAKING SET PRINTED),0.765306,0.053571,0.051020,0.066667,1.244444,0.010022,1.014031
27,(POSTAGE),(CIRCUS PARADE CHILDRENS EGG CUP),0.765306,0.056122,0.051020,0.066667,1.187879,0.008070,1.011297
96,(POSTAGE),(PARTY BUNTING),0.765306,0.056122,0.051020,0.066667,1.187879,0.008070,1.011297
227,(POSTAGE),"(LUNCH BAG RED RETROSPOT, LUNCH BAG WOODLAND)",0.765306,0.056122,0.051020,0.066667,1.187879,0.008070,1.011297
214,(POSTAGE),"(LUNCH BAG SPACEBOY DESIGN, LUNCH BAG APPLE DE...",0.765306,0.063776,0.051020,0.066667,1.045333,0.002213,1.003098

In [39]:
rules.antecedents

44                          (JUMBO BAG WOODLAND ANIMALS)
259    (PLASTERS IN TIN CIRCUS PARADE, RED TOADSTOOL ...
271    (PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...
300    (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
301    (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
                             ...
37                                             (POSTAGE)
27                                             (POSTAGE)
96                                             (POSTAGE)
227                                            (POSTAGE)
214                                            (POSTAGE)
Name: antecedents, Length: 348, dtype: object

In [41]:
data.Description.unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'lost',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], dtype=object)

In [42]:
data.shape

(532621, 8)

In [44]:
import pandas as pd
from itertools import chain

df1 = pd.Series([["a","b","c"],["a","b"],["d","e"]])
df2 = pd.Series(["a","b","d"])

In [45]:
df1

0    [a, b, c]
1       [a, b]
2       [d, e]
dtype: object

In [46]:
df2

0    a
1    b
2    d
dtype: object

In [47]:
result = [ [ [el2,list1] for el2 in df2.values if el2 in list1 ] 
                         for list1 in df1.values ]

In [48]:
result

[[['a', ['a', 'b', 'c']], ['b', ['a', 'b', 'c']]],
 [['a', ['a', 'b']], ['b', ['a', 'b']]],
 [['d', ['d', 'e']]]]

In [49]:
result_flat = list(chain(*result))

In [50]:
result_df = pd.DataFrame(result_flat)

In [51]:
result_df

   0          1
0  a  [a, b, c]
1  b  [a, b, c]
2  a     [a, b]
3  b     [a, b]
4  d     [d, e]

In [52]:
df1 = pd.DataFrame({'col1': [["a","b","c"],["a","b"],["d","e"]]})
df2 = pd.DataFrame({'col2': ["a","b","d"]})

In [53]:
df1

        col1
0  [a, b, c]
1     [a, b]
2     [d, e]

In [54]:
df2

  col2
0    a
1    b
2    d

In [55]:
df1_flat = df1.col1.explode().reset_index()

In [56]:
df1_flat

   index col1
0      0    a
1      0    b
2      0    c
3      1    a
4      1    b
5      2    d
6      2    e

In [57]:
df_merged = pd.merge(df1_flat,df2,left_on='col1',right_on='col2')

In [58]:
df_merged['col2'] = df1.loc[df_merged['index']].values

In [59]:
df_merged.drop('index',axis=1, inplace=True)

In [60]:
df_merged

  col1       col2
0    a  [a, b, c]
1    a     [a, b]
2    b  [a, b, c]
3    b     [a, b]
4    d     [d, e]

# test1

In [64]:
test_1 = ps.sqldf(""" select Description from  data""")

In [65]:
test_1

                                Description
0        WHITE HANGING HEART T-LIGHT HOLDER
1                       WHITE METAL LANTERN
2            CREAM CUPID HEARTS COAT HANGER
3       KNITTED UNION FLAG HOT WATER BOTTLE
4            RED WOOLLY HOTTIE WHITE HEART.
...                                     ...
532616          PACK OF 20 SPACEBOY NAPKINS
532617          CHILDREN'S APRON DOLLY GIRL
532618         CHILDRENS CUTLERY DOLLY GIRL
532619      CHILDRENS CUTLERY CIRCUS PARADE
532620         BAKING SET 9 PIECE RETROSPOT

[532621 rows x 1 columns]

In [68]:
test_2 = rules[['antecedents','consequents']]

In [69]:
test_2

,antecedents,consequents
44,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE)
259,"(PLASTERS IN TIN CIRCUS PARADE, RED TOADSTOOL ...",(POSTAGE)
271,"(PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...",(POSTAGE)
300,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER PLATES)
301,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER CUPS)
...,...,...
37,(POSTAGE),(JAM MAKING SET PRINTED)
27,(POSTAGE),(CIRCUS PARADE CHILDRENS EGG CUP)
96,(POSTAGE),(PARTY BUNTING)
227,(POSTAGE),"(LUNCH BAG RED RETROSPOT, LUNCH BAG WOODLAND)"
214,(POSTAGE),"(LUNCH BAG SPACEBOY DESIGN, LUNCH BAG APPLE DE..."

In [78]:
test_3 = test_2.antecedents.explode().reset_index()

In [82]:
test_3.shape

(455, 2)

In [79]:
test_4 = test_2.consequents.explode().reset_index()

In [83]:
test_4.shape

(455, 2)

In [85]:
test_3['consequents'] = test_4.consequents

In [86]:
test_3

     index                       antecedents                    consequents
0       44        JUMBO BAG WOODLAND ANIMALS                        POSTAGE
1      259     PLASTERS IN TIN CIRCUS PARADE                        POSTAGE
2      259     RED TOADSTOOL LED NIGHT LIGHT                        POSTAGE
3      271  PLASTERS IN TIN WOODLAND ANIMALS  SET/6 RED SPOTTY PAPER PLATES
4      271     RED TOADSTOOL LED NIGHT LIGHT    SET/6 RED SPOTTY PAPER CUPS
..     ...                               ...                            ...
450     37                           POSTAGE                  PARTY BUNTING
451     27                           POSTAGE        LUNCH BAG RED RETROSPOT
452     96                           POSTAGE             LUNCH BAG WOODLAND
453    227                           POSTAGE      LUNCH BAG SPACEBOY DESIGN
454    214                           POSTAGE         LUNCH BAG APPLE DESIGN

[455 rows x 3 columns]

# FINAL TEST

In [87]:
test_3

     index                       antecedents                    consequents
0       44        JUMBO BAG WOODLAND ANIMALS                        POSTAGE
1      259     PLASTERS IN TIN CIRCUS PARADE                        POSTAGE
2      259     RED TOADSTOOL LED NIGHT LIGHT                        POSTAGE
3      271  PLASTERS IN TIN WOODLAND ANIMALS  SET/6 RED SPOTTY PAPER PLATES
4      271     RED TOADSTOOL LED NIGHT LIGHT    SET/6 RED SPOTTY PAPER CUPS
..     ...                               ...                            ...
450     37                           POSTAGE                  PARTY BUNTING
451     27                           POSTAGE        LUNCH BAG RED RETROSPOT
452     96                           POSTAGE             LUNCH BAG WOODLAND
453    227                           POSTAGE      LUNCH BAG SPACEBOY DESIGN
454    214                           POSTAGE         LUNCH BAG APPLE DESIGN

[455 rows x 3 columns]

In [90]:
test_3.antecedents.unique()

array(['JUMBO BAG WOODLAND ANIMALS', 'PLASTERS IN TIN CIRCUS PARADE',
       'RED TOADSTOOL LED NIGHT LIGHT',
       'PLASTERS IN TIN WOODLAND ANIMALS',
       'SET/20 RED RETROSPOT PAPER NAPKINS',
       'SET/6 RED SPOTTY PAPER CUPS', 'SET/6 RED SPOTTY PAPER PLATES',
       'POSTAGE', 'RED RETROSPOT PICNIC BAG',
       'SET OF 9 BLACK SKULL BALLOONS', 'PACK OF 6 SKULL PAPER CUPS',
       'RETROSPOT PARTY BAG + STICKER SET', 'GUMBALL COAT RACK',
       'PACK OF 6 SKULL PAPER PLATES', 'JAM MAKING SET PRINTED',
       'TEA PARTY BIRTHDAY CARD', 'STRAWBERRY LUNCH BOX WITH CUTLERY',
       'ROUND SNACK BOXES SET OF4 WOODLAND', 'CHILDRENS CUTLERY SPACEBOY',
       'ASSORTED COLOUR MINI CASES',
       'SET OF 2 TEA TOWELS APPLE AND PEARS', 'LUNCH BAG RED RETROSPOT',
       'LUNCH BAG APPLE DESIGN', 'LUNCH BOX WITH CUTLERY RETROSPOT',
       'ROUND SNACK BOXES SET OF 4 FRUITS', 'ALARM CLOCK BAKELIKE RED',
       'ALARM CLOCK BAKELIKE GREEN', 'ALARM CLOCK BAKELIKE PINK',
       'CIRCUS PARADE CHILDRENS EGG CUP', 'PARTY BUNTING',
       'LUNCH BAG WOODLAND', 'WOODLAND CHARLOTTE BAG',
       'CHILDRENS CUTLERY DOLLY GIRL', 'COFFEE MUG APPLES DESIGN',
       'CHARLOTTE BAG DOLLY GIRL DESIGN', 'JUMBO BAG APPLES',
       'JUMBO BAG SPACEBOY DESIGN', 'RABBIT NIGHT LIGHT',
       'PAPER BUNTING RETROSPOT', 'SET OF 9 HEART SHAPED BALLOONS',
       'JUMBO BAG RED RETROSPOT', 'RED RETROSPOT CHARLOTTE BAG',
       'LUNCH BAG SPACEBOY DESIGN', 'REGENCY CAKESTAND 3 TIER',
       'PLASTERS IN TIN SPACEBOY', 'RED RETROSPOT MINI CASES',
       'SET/10 RED POLKADOT PARTY CANDLES',
       'PACK OF 72 RETROSPOT CAKE CASES',
       'CHILDRENS APRON SPACEBOY DESIGN', '4 TRADITIONAL SPINNING TOPS',
       'SPACEBOY BIRTHDAY CARD', 'PLASTERS IN TIN STRONGMAN',
       'MINI PAINT SET VINTAGE', 'CHARLOTTE BAG APPLES DESIGN',
       'CIRCUS PARADE LUNCH BOX', 'LUNCH BOX I LOVE LONDON',
       'SPACEBOY LUNCH BOX', 'DOLLY GIRL LUNCH BOX',
       'LUNCH BAG DOLLY GIRL DESIGN'], dtype=object)

In [108]:
test_3[test_3['Description'] == 'KNITTED UNION FLAG HOT WATER BOTTLE']

Empty DataFrame
Columns: [Description, consequents]
Index: []

In [99]:
test_3.rename(columns = {'antecedents' : 'Description'}, inplace =True)

In [104]:
test_3.drop('index', axis = 1, inplace=True)

In [105]:
test_3

                          Description                    consequents
0          JUMBO BAG WOODLAND ANIMALS                        POSTAGE
1       PLASTERS IN TIN CIRCUS PARADE                        POSTAGE
2       RED TOADSTOOL LED NIGHT LIGHT                        POSTAGE
3    PLASTERS IN TIN WOODLAND ANIMALS  SET/6 RED SPOTTY PAPER PLATES
4       RED TOADSTOOL LED NIGHT LIGHT    SET/6 RED SPOTTY PAPER CUPS
..                                ...                            ...
450                           POSTAGE                  PARTY BUNTING
451                           POSTAGE        LUNCH BAG RED RETROSPOT
452                           POSTAGE             LUNCH BAG WOODLAND
453                           POSTAGE      LUNCH BAG SPACEBOY DESIGN
454                           POSTAGE         LUNCH BAG APPLE DESIGN

[455 rows x 2 columns]

In [98]:
data[data['Description'] == 'SPACEBOY LUNCH BOX']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
35,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France
550,536412,22629,SPACEBOY LUNCH BOX,1,2010-12-01 11:49:00,1.95,17920.0,United Kingdom
1627,536544,22629,SPACEBOY LUNCH BOX,1,2010-12-01 14:32:00,4.21,NaN,United Kingdom
2021,536551,22629,SPACEBOY LUNCH BOX,1,2010-12-01 14:34:00,1.95,17346.0,United Kingdom
4262,536755,22629,SPACEBOY LUNCH BOX,1,2010-12-02 14:14:00,1.95,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
538760,581414,22629,SPACEBOY LUNCH BOX,2,2011-12-08 14:39:00,1.95,14730.0,United Kingdom
539011,581425,22629,SPACEBOY LUNCH BOX,2,2011-12-08 15:31:00,1.95,14796.0,United Kingdom
540971,581492,22629,SPACEBOY LUNCH BOX,1,2011-12-09 10:03:00,4.13,NaN,United Kingdom
541439,581498,22629,SPACEBOY LUNCH BOX,2,2011-12-09 10:26:00,2.46,NaN,United Kingdom
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France

In [88]:
data.head(4)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [109]:
final = pd.merge(data,test_3,on='Description',how='left')

In [110]:
final.dropna(inplace = True)

In [112]:
final.drop_duplicates(inplace = True)

In [113]:
final

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,consequents
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,POSTAGE
32,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,SET/20 RED RETROSPOT PAPER NAPKINS
34,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,ALARM CLOCK BAKELIKE GREEN
37,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,ALARM CLOCK BAKELIKE RED
38,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,ROUND SNACK BOXES SET OF4 WOODLAND
...,...,...,...,...,...,...,...,...,...
900012,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,ROUND SNACK BOXES SET OF 4 FRUITS
900013,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,POSTAGE
900014,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,PLASTERS IN TIN STRONGMAN
900015,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France,POSTAGE
900018,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,ALARM CLOCK BAKELIKE GREEN